@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('OpenSans-Regular'),
    url('@/assets/fonts/OpenSans-Regular.woff') format('woff'),
    url('@/assets/fonts/OpenSans-Regular.woff2') format('woff2');
}