@import 'reset';
@import 'fonts';

html,
:root {
  font-size: calc(100vw / 1440 * 10);
  @include r($md) {
    font-size: calc(100vw / 991 * 10);
  }

  transition: font-size .15s ease;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.6rem;
}

.container {
  width: 144rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: opacity 0.3s ease;

  :deep(svg) {
    width: 100%;
    height: 100%;
  }
}